/*CORES ÚTEIS:*/
/*AZUL CLARO(LOGO): rgb(50,78,124)*/
/*AZUL MÉDIO(LOGO): rgb(48,65,101)*/
/*AZUL ESCURO(LOGO): rgb(41,51,77)*/
/*CINZA(LOGO): rgb(54,52,72)*/

*{
	-fx-font-family: Tahoma;
}

.btnLogin{
	-fx-background-color:rgb(50,78,124); 
	-fx-text-fill:white ;
}

.btnLogin:hover{
	-fx-background-color:rgb(48,65,101) ;
}

.opcoes{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}
 .opcoes:hover{
	-fx-background-color: rgb(48,65,101);
	-fx-font-size:15px;
}

.lblPerfil{
	-fx-opacity:0;
	-fx-background-color:rgb(50,78,124);
}

.lblPerfil:hover{
	-fx-opacity:60%;
}

.lblFotoInserir{
	-fx-opacity:0;
	-fx-background-color:rgb(50,78,124);
	-fx-font-size:19px;
}

.lblFotoInserir:hover{
	-fx-opacity:60%;
}


